h1{
    background-color: green;
    color: blue;
}

h3{
    color: blue;
    -ms-text-underline-position: under;
}
table{
    text-align: center;
    background-color: rgb(191, 78, 78);
    color: white;
}
body{
        image-rendering: auto ;
        background-color: beige;
        color: coral;
}
form{
     text-align: center;
     width: 250;
}
div{
    text-align-last: right;
}
